/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@-webkit-keyframes glowing-sm-green {
  0% {
    background-color: #2ba805;
    -webkit-box-shadow: 0 0 5px #2ba805;
            box-shadow: 0 0 5px #2ba805;
  }

  50% {
    background-color: #49e819;
    -webkit-box-shadow: 0 0 10px #49e819;
            box-shadow: 0 0 10px #49e819;
  }

  100% {
    background-color: #2ba805;
    -webkit-box-shadow: 0 0 5px #2ba805;
            box-shadow: 0 0 5px #2ba805;
  }
}

@keyframes glowing-sm-green {
  0% {
    background-color: #2ba805;
    -webkit-box-shadow: 0 0 5px #2ba805;
            box-shadow: 0 0 5px #2ba805;
  }

  50% {
    background-color: #49e819;
    -webkit-box-shadow: 0 0 10px #49e819;
            box-shadow: 0 0 10px #49e819;
  }

  100% {
    background-color: #2ba805;
    -webkit-box-shadow: 0 0 5px #2ba805;
            box-shadow: 0 0 5px #2ba805;
  }
}

@-webkit-keyframes glowing-sm-yellow {
  0% {
    background-color: #a8a305;
    -webkit-box-shadow: 0 0 5px #a89505;
            box-shadow: 0 0 5px #a89505;
  }

  50% {
    background-color: #e8da19;
    -webkit-box-shadow: 0 0 10px #e8de19;
            box-shadow: 0 0 10px #e8de19;
  }

  100% {
    background-color: #a8a305;
    -webkit-box-shadow: 0 0 5px #a0a805;
            box-shadow: 0 0 5px #a0a805;
  }
}

@keyframes glowing-sm-yellow {
  0% {
    background-color: #a8a305;
    -webkit-box-shadow: 0 0 5px #a89505;
            box-shadow: 0 0 5px #a89505;
  }

  50% {
    background-color: #e8da19;
    -webkit-box-shadow: 0 0 10px #e8de19;
            box-shadow: 0 0 10px #e8de19;
  }

  100% {
    background-color: #a8a305;
    -webkit-box-shadow: 0 0 5px #a0a805;
            box-shadow: 0 0 5px #a0a805;
  }
}

@-webkit-keyframes glowing-sm-red {
  0% {
    background-color: #a80505;
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }

  50% {
    background-color: #e81919;
    -webkit-box-shadow: 0 0 10px #e82019;
            box-shadow: 0 0 10px #e82019;
  }

  100% {
    background-color: #a80805;
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }
}

@keyframes glowing-sm-red {
  0% {
    background-color: #a80505;
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }

  50% {
    background-color: #e81919;
    -webkit-box-shadow: 0 0 10px #e82019;
            box-shadow: 0 0 10px #e82019;
  }

  100% {
    background-color: #a80805;
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }
}

/* base font size - applied at body / html level */

/* heading font sizes */

/* smaller than heading font sizes */

/* smaller than heading font sizes */

/* heading font sizes */

/* smaller than heading font sizes */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgb(111, 92, 196);
  background: -webkit-gradient(linear, left top, right top, color-stop(28%, rgb(111, 92, 196)), color-stop(63%, rgb(103, 65, 144)));
  background: linear-gradient(90deg, rgb(111, 92, 196) 28%, rgb(103, 65, 144) 63%);
  z-index: 6;
  position: relative;
}

.header__logo {
  cursor: pointer;
  padding: 0.9375rem 0.9375rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__logo span {
  color: #674190;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items-btn {
  text-transform: uppercase;
  margin-right: 0.9375rem;
}

.header__items-btn.login__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__items-btn.visit__button {
  display: none;
}

.header__items-btn span {
  padding: 0 1.25rem;
}

.header__user {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user-img img {
  cursor: pointer;
  margin-top: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
}

.header__user-email {
  color: #fff;
  margin-left: 0.625rem;
  margin-right: 1.5625rem;
}

.header-title {
  color: #fff;
  letter-spacing: 0.25rem;
}

.login {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.login__form-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__form-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 25px;
}

.login__form-img img {
  max-width: 43.125rem;
  height: auto;
}

.login__text {
  margin-top: 3.125rem;
}

.login__text-graph {
  font-weight: 700;
  color: #6f5cc4;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.form-box {
  max-width: 15.625rem;
  background-color: #e7e7e7;
  overflow: hidden;
  color: #000;
}

.form__login {
  position: relative;
  display: none;
  -webkit-transform: translateX(-18.75rem);
      -ms-transform: translateX(-18.75rem);
          transform: translateX(-18.75rem);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-align: start;
}

.form__login-title {
  font-weight: bold;
  font-size: 1.6875rem;
  color: #6f5cc4;
}

.form__login-subtitle {
  font-size: 1rem;
  color: #635c73;
  text-align: center;
}

.form-container {
  overflow: hidden;
  background-color: #e7e7e7;
  margin: 0.625rem 0 0.3125rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  position: relative;
  max-width: 16.875rem;
  border: none;
  -webkit-box-shadow: 0 1.5px 0 0 #8f84c0;
          box-shadow: 0 1.5px 0 0 #8f84c0;
  padding: 0.9375rem 0 0.9375rem 0.625rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.8;
  margin-bottom: 0.625rem;
}

.input-label {
  font-size: 0.875rem;
  font-weight: bold;
  color: #8f84c0;
  margin-bottom: 0.25rem;
  margin-left: 0.0625rem;
}

.form__input::-webkit-input-placeholder {
  color: rgb(145, 145, 145);
  font-size: 1rem;
}

.form__input::-moz-placeholder {
  color: rgb(145, 145, 145);
  font-size: 1rem;
}

.form__input:-ms-input-placeholder {
  color: rgb(145, 145, 145);
  font-size: 1rem;
}

.form__input::-ms-input-placeholder {
  color: rgb(145, 145, 145);
  font-size: 1rem;
}

.form__input::placeholder {
  color: rgb(145, 145, 145);
  font-size: 1rem;
}

.form__input::after {
  content: attr(placeholder);
  position: absolute;
  color: #161616;
  top: 0;
  left: 0;
}

.form__input:focus {
  border: none;
  -webkit-box-shadow: 0px 1.5px 0px 0px #6f5cc4;
          box-shadow: 0px 1.5px 0px 0px #6f5cc4;
  outline: none;
}

.form__input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.form__input:focus::-moz-placeholder {
  visibility: hidden;
}

.form__input:focus:-ms-input-placeholder {
  visibility: hidden;
}

.form__input:focus::-ms-input-placeholder {
  visibility: hidden;
}

.form__input:focus::placeholder {
  visibility: hidden;
}

.login__form-btn {
  min-width: 5.625rem;
  padding-bottom: 10px;
  padding: 0rem;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__content-left {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6f5cc4;
  min-width: 18.75rem;
  height: 100%;
  position: fixed;
  padding-top: 4.125rem;
  z-index: 0;
  top: 0;
}

.main__content-right {
  display: none;
  padding: 4.375rem 0.9375rem 0.625rem 0.9375rem;
  margin-left: 18.75rem;
  width: 100%;
  max-height: 100%;
}

.main__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  margin: 0.9375rem 0;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
          box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
}

.main__filter-title {
  font-weight: 400;
  font-size: 1.0625rem;
  color: #000;
  letter-spacing: 0.0625rem;
  padding: 0.625rem 2.1875rem;
  margin-right: 0.9375rem;
  position: relative;
}

.main__filter-title::before {
  content: url(../img/icon/arrow-down.png);
  width: 6.25rem;
  height: 6.25rem;
  top: 0.8125rem;
  left: 6.4375rem;
  position: absolute;
}

.main__filter-title::after {
  content: "";
  width: 6.25rem;
  height: 0.125rem;
  bottom: 0;
  left: 1.5625rem;
  position: absolute;
  background-color: #504190;
}

.main__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.625rem;
}

.main__input .input {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
          box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  max-width: 15.625rem;
  min-height: 2.1875rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.main__input .input:hover {
  -webkit-box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
          box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}

.main__input .input:focus {
  -webkit-box-shadow: 0 0 0 0.15vw #504190;
          box-shadow: 0 0 0 0.15vw #504190;
}

.main__description {
  font-size: 1.0625rem;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-bottom: 0.9375rem;
  color: rgba(234, 234, 234, 0.7215686275);
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  margin-top: 0.625rem;
}

.main__button .clear__button {
  font-size: 1.25rem;
  background-image: linear-gradient(144deg, #ff1d74, #f34242 50%, #eb6e00);
  border-radius: 0.625rem;
  padding: 0;
  max-height: 2.3125rem;
}

.main__button .show__button {
  display: none;
}

.main__right-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 21.875rem);
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  min-width: 100%;
  min-height: 80vh;
  gap: 1.5625rem;
  padding: 0.625rem 0;
}

.main__right-box {
  margin: 0.9375rem 0 0 0;
  background-color: #fff;
  border-radius: 0.3125rem;
  position: absolute;
  top: 4.125rem;
  -webkit-box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
          box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
}

.main__right-box.filter__box {
  display: none;
}

.main__right-title {
  font-size: 1.0625rem;
  font-weight: 400;
  padding: 0.625rem 1.25rem;
  letter-spacing: 0.0625rem;
  position: relative;
}

.main__right-title::after {
  content: "";
  width: 90%;
  height: 0.125rem;
  bottom: 0;
  left: 5%;
  position: absolute;
  background-color: #504190;
}

.form-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
}

.btn-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 15.4375rem;
}

.btn-toggle__title {
  font-size: 1.0625rem;
  font-weight: 400;
  margin-top: 1.25rem 0 0.9375rem 0.3125rem;
  color: rgba(234, 234, 234, 0.7215686275);
}

.btn-toggle__normal.active,
.btn-toggle__move.active {
  background-color: #504190;
  color: #fff;
}

.toggle-btn {
  background-color: #afaeb5;
  padding: 0.625rem;
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #454242;
  margin: 0.9375rem 0 0 0;
  cursor: pointer;
}

.loader {
  display: none;
  margin-right: 1.5rem;
  width: 2.25em;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate4 2s linear infinite;
          animation: rotate4 2s linear infinite;
}

.loader circle {
  fill: none;
  stroke: #6f5cc4;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  -webkit-animation: dash4 1.5s ease-in-out infinite;
          animation: dash4 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate4 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate4 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -2.1875rem;
  }

  100% {
    stroke-dashoffset: -7.8125rem;
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -2.1875rem;
  }

  100% {
    stroke-dashoffset: -7.8125rem;
  }
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #4300eb);
  border: 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(151, 65, 252, 0.2) 0 0.9375rem 1.875rem -0.3125rem;
          box-shadow: rgba(151, 65, 252, 0.2) 0 0.9375rem 1.875rem -0.3125rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 5rem;
  padding: 0.0625rem;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: #43377c;
  padding: 0.75rem 0.625rem;
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

.button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.patient {
  border-radius: 0.3125rem;
  background: #ebebeb;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  min-width: 21.875rem;
  background: #eaeaea;
  -webkit-box-shadow: 3px 3px 10px #bebebe;
          box-shadow: 3px 3px 10px #bebebe;
}

.patient__header {
  position: relative;
  font-size: 0.625rem;
  font-weight: 700;
  color: #f5f5f5;
  padding: 0.625rem 0;
  background-color: #6f5cc4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.patient__header-close {
  overflow: hidden;
  position: absolute;
  top: 0.3125rem;
  right: 0.3125rem;
  border: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: transparent;
  color: #f5f5f5;
  text-indent: 100%;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.patient__header-close:hover {
  background: #e0e0e0;
  color: rgb(77, 77, 255);
}

.patient__header-close:before,
.patient__header-close:after {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: currentcolor;
  content: "";
}

.patient__header-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.patient__status {
  margin-left: 0.625rem;
  font-size: 0.75rem;
  padding: 0.3125rem;
  border-radius: 0.625rem;
}

.patient__header-title {
  margin-left: 3.25rem;
}

.patient__content {
  padding: 1.5625rem 2.5rem;
}

.patient__content h3 {
  font-size: 0.875rem;
  color: #2e2b2b;
  margin-bottom: 0.625rem;
}

.patient__content span {
  color: #343434;
  font-weight: 500;
}

.patient__content-urgency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.patient__content-urgency .button-urgency {
  position: absolute;
  top: 0.25rem;
  border-radius: 3.125rem;
  border: none;
  display: inline-block;
  padding: 0.3125rem 0.3125rem;
}

.patient__content-urgency .btn-low {
  -webkit-animation: glowing-sm-green 3000ms infinite;
          animation: glowing-sm-green 3000ms infinite;
  right: 5rem;
}

.patient__content-urgency .btn-normal {
  -webkit-animation: glowing-sm-yellow 3000ms infinite;
          animation: glowing-sm-yellow 3000ms infinite;
  right: 3.625rem;
}

.patient__content-urgency .btn-high {
  -webkit-animation: glowing-sm-red 3000ms infinite;
          animation: glowing-sm-red 3000ms infinite;
  right: 3.5rem;
}

.patient__content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.patient__content-button {
  background-image: linear-gradient(144deg, #772aae, #3b2b9f 50%, #3901a0);
  border: 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(151, 65, 252, 0.2) 0 0.9375rem 1.875rem -0.3125rem;
          box-shadow: rgba(151, 65, 252, 0.2) 0 0.9375rem 1.875rem -0.3125rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 5rem;
  margin-top: 0.3125rem;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.patient__content-button:active,
.patient__content-button:hover {
  outline: 0;
}

.patient__content-button span {
  background-color: #6f5cc4;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #fff;
}

.patient__content-button:hover span {
  background: none;
}

.patient__content-button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.hidden {
  display: none;
}

.status-open {
  background-color: #1F78D1;
}

.status-done {
  background-color: #1AAA55;
}

.form {
  position: absolute;
  border-radius: 1.25rem;
  background-color: #EEE;
  top: 1.875rem;
  left: 0;
  right: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 3.125rem;
  min-width: 21.875rem;
  height: auto;
  overflow: hidden;
  margin-bottom: 3.125rem;
  -webkit-transform: translateY(-35.625rem);
      -ms-transform: translateY(-35.625rem);
          transform: translateY(-35.625rem);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 101;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}

.form__content-input .form-input {
  min-width: 15.9375rem;
}

.form__content-input .create__select {
  width: 15.625rem;
}

.form__content-input.create__input input {
  width: 15.625rem;
}

.form__content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.form__content-button span {
  padding: 0.6875rem 1.25rem;
  font-size: 1rem;
}

.form__content-button.send-form {
  padding: 0;
}

.form__content-button.send-form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content-button.update-form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content-button.update-form {
  padding: 0;
}

.form__content-button.cancel {
  font-size: 1.25rem;
  background-image: linear-gradient(144deg, #ff1d74, #f34242 50%, #eb6e00);
  padding: 0;
}

.form__content-button.cancel span {
  padding: 0.625rem 1.25rem;
}

.form__header {
  position: relative;
  width: 100%;
  font-weight: 700;
  color: #EEE;
  padding: 1.25rem 0;
  text-align: center;
  background-color: #6f5cc4;
  margin-bottom: 0.625rem;
}

.form__header::after {
  position: absolute;
  content: "Create";
  font-size: 0.75rem;
  color: #fff200;
  top: 1.6875rem;
  left: 1.875rem;
}

.form__header-title {
  font-size: 1.375rem;
}

.form__header-close {
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 0.3125rem;
  right: 0.3125rem;
  border: none;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: transparent;
  color: #EEE;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.form__header-close:hover {
  background-color: #EEE;
  color: rgb(77, 77, 255);
}

.form__header-close:before,
.form__header-close:after {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: currentcolor;
  content: "";
}

.form__header-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.custom-select {
  position: relative;
  color: #635C73;
  min-width: 15.625rem;
  padding: 0.375rem;
  border-radius: 0.3125rem;
  background-color: #EEE;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 1.25rem) 0.9em, calc(100% - 1rem) 0.9em, calc(100% - 2.5em) 0.2em;
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem, 0.0625rem 1.5em;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 0px 0.0625rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 0px 0.0625rem rgba(0, 0, 0, 0.06);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-select:focus {
  background-image: linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
}

.custom-select#edit-status {
  min-width: 15.9375rem;
  margin-top: 1.875rem;
}

.form__content-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0.9375rem auto;
  width: 15.625rem;
  text-align: start;
}

.form__content-input input[type=text],
.form__content-input input[type=date] {
  text-align: center;
  font-size: 1rem;
  border: none;
  border-bottom: 0.125rem solid #ccc;
  padding: 0.3125rem 1.75rem;
  background-color: transparent;
  outline: none;
}

.form__content-input input[type=date] {
  margin-top: 0.9375rem;
}

.form__content-input .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #635C73;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}

.form__content-input h3 {
  color: #635C73;
}

.form__content-input input[type=text]:focus ~ .label,
.form__content-input input[type=text]:valid ~ .label {
  top: -0.9375rem;
  font-size: 1rem;
  color: #333;
}

.form__content-input .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.0625rem;
  width: 100%;
  background-color: #333;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__content-input input[type=text]:focus ~ .underline,
.form__content-input input[type=text]:valid ~ .underline {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0.9375rem;
  right: 0.625rem;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
}

.alert__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(79, 65, 144, 0.9098039216);
  border-radius: 0.9375rem;
  padding: 0.9375rem 1.5625rem 0.9375rem 0.9375rem;
}

.alert__items-description {
  font-size: 1.0625rem;
  color: #fff;
  margin-left: 0.625rem;
}

.alert__items-description span {
  color: #8f84c0;
}

.alert__items-close {
  width: 0.9375rem;
  height: 0.9375rem;
}

.logOut {
  position: absolute;
  top: 3.4375rem;
  right: 5.9375rem;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e7;
  border: 0.0625rem solid #43377c;
  border-radius: 0.3125rem;
}

.logOut__text {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
}

.logOut__button {
  width: 1.875rem;
  margin-bottom: 0.625rem;
  background-image: linear-gradient(144deg, #ff1d74, #f34242 50%, #eb6e00);
  padding: 0;
}

.logOut__button span {
  padding: 0.3125rem 0.625rem;
}

.show {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100%;
  background-color: #e7e7e7;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg {
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 130%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
  z-index: 100;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.auth_modal {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.create_visit_modal {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.visit {
  border: 1px solid #888;
}

.error_message {
  color: red;
}

.hide {
  display: none;
}

#no_visits {
  display: none;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 56%;
}

@media (max-width: 1200px) {
  .header__logo {
    font-size: 0.8125rem;
  }

  .header__items-btn {
    text-transform: uppercase;
    margin-right: 0.9375rem;
  }

  .header__items-btn span {
    font-size: 0.6875rem;
    padding: 0 1.25rem;
  }

  .login__form-img img {
    max-width: 30.625rem;
  }

  .main__content-left {
    min-width: 15.625rem;
  }

  .main__content-right {
    padding: 4.375rem 0.9375rem 0.625rem 0rem;
    margin-left: 16.5625rem;
  }

  .main__input .input {
    padding: 0.3125rem;
    max-width: 12.5rem;
    min-height: 1.25rem;
  }

  .main__filter-title {
    font-size: 0.8125rem;
  }

  .main__filter-title::before {
    top: 0.625rem;
    left: 5.8125rem;
  }

  .main__filter-title::after {
    left: 1.1875rem;
  }

  .main__description {
    font-size: 0.8125rem;
    font-weight: 400;
    margin-top: 1.25rem 0 0.9375rem 0;
  }

  .main__button .clear__button {
    font-size: 0.8125rem;
  }

  .main__right-title {
    font-size: 0.8125rem;
  }

  .btn-toggle {
    margin-top: 1.25rem;
  }

  .btn-toggle__title {
    font-size: 0.9375rem;
    margin-top: 1.25rem 0 0.9375rem 0.3125rem;
  }

  .toggle-btn {
    font-size: 0.75rem;
    max-width: 12.5rem;
  }

  .patient__header {
    font-size: 0.625rem;
  }

  .patient__status {
    margin-left: 0.625rem;
    font-size: 0.5625rem;
    padding: 0.1875rem;
  }

  .patient__header-title {
    margin-left: 4.1875rem;
  }

  .patient__content-urgency .btn-low {
    -webkit-animation: glowing-sm-green 3000ms infinite;
            animation: glowing-sm-green 3000ms infinite;
    right: 5rem;
  }

  .patient__content-urgency .btn-normal {
    -webkit-animation: glowing-sm-yellow 3000ms infinite;
            animation: glowing-sm-yellow 3000ms infinite;
    right: 3.625rem;
  }

  .patient__content-urgency .btn-high {
    -webkit-animation: glowing-sm-red 3000ms infinite;
            animation: glowing-sm-red 3000ms infinite;
    right: 3.5rem;
  }

  .patient__content-button {
    font-size: 0.875rem;
  }

  .custom-select {
    min-width: 12.5rem;
    font-size: 0.8125rem;
  }
}

@media (max-width: 992px) {
  .login__form-img img {
    max-width: 28.125rem;
  }

  .login__text-graph {
    font-size: 0.9375rem;
  }

  .form__login {
    text-align: start;
  }

  .form__login-title {
    font-size: 1.5625rem;
  }

  .main__content-left {
    z-index: 101;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .main__content-left.toggle__queries {
    -webkit-transform: translate(-15.625rem);
        -ms-transform: translate(-15.625rem);
            transform: translate(-15.625rem);
  }

  .main__content-right {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding: 1.25rem 0.9375rem 0.625rem 0.9375rem;
  }

  .main__button .clear__button {
    font-size: 0.8125rem;
  }

  .main__button .show__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__right-wrapper {
    grid-template-columns: repeat(auto-fill, 15.625rem);
  }

  .main__right-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }

  .main__right-box {
    position: relative;
    top: -0.75rem;
  }

  .main__right-box.filter__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__right-title {
    font-size: 0.8125rem;
  }

  .patient {
    min-width: 15.625rem;
  }

  .patient__header {
    font-size: 0.5rem;
  }

  .patient__status {
    margin-left: 0.625rem;
    font-size: 0.5625rem;
    padding: 0.1875rem;
  }

  .patient__header-title {
    margin-left: 1.5625rem;
  }

  .patient__content {
    padding: 0.9375rem 0.625rem;
  }

  .patient__content h3 {
    font-size: 0.6875rem;
    margin-bottom: 0.625rem;
  }

  .patient__content span {
    font-weight: 500;
  }

  .patient__content-urgency .btn-low {
    -webkit-animation: glowing-sm-green 3000ms infinite;
            animation: glowing-sm-green 3000ms infinite;
    top: 0.0625rem;
    right: 4.875rem;
  }

  .patient__content-urgency .btn-normal {
    -webkit-animation: glowing-sm-yellow 3000ms infinite;
            animation: glowing-sm-yellow 3000ms infinite;
    top: 0.0625rem;
    right: 3.75rem;
  }

  .patient__content-urgency .btn-high {
    -webkit-animation: glowing-sm-red 3000ms infinite;
            animation: glowing-sm-red 3000ms infinite;
    top: 0.0625rem;
    right: 3.75rem;
  }

  .patient__content-button {
    font-size: 0.6875rem;
  }

  .form {
    top: 1.875rem;
    margin-top: 3.125rem;
  }
}

@media (max-width: 768px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, color-stop(58%, rgb(111, 92, 196)), color-stop(93%, rgb(103, 65, 144)));
    background: linear-gradient(90deg, rgb(111, 92, 196) 58%, rgb(103, 65, 144) 93%);
  }

  .header__logo {
    font-size: 0.5rem;
  }

  .header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__items-btn {
    text-transform: uppercase;
    margin-right: 0.9375rem;
  }

  .header__items-btn.login__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__items-btn.visit__button {
    display: none;
  }

  .header__items-btn.button span {
    font-size: 0.5rem;
    padding: 0.3125rem;
  }

  .header__user {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__user-img img {
    margin-right: 0.625rem;
  }

  .header__user-email {
    display: none;
  }

  .header-title {
    color: #fff;
    letter-spacing: 0.25rem;
  }

  .login__form-img img {
    max-width: 21.875rem;
  }

  .login__text-graph {
    font-size: 0.9375rem;
  }

  .form__login {
    margin-left: 0.625rem;
    text-align: start;
  }

  .form__login-title {
    font-size: 1.5625rem;
  }

  .main__content-left {
    min-width: 12.5rem;
  }

  .main__content-right {
    padding: 1.25rem 0.9375rem 0.625rem 0.9375rem;
  }

  .main__filter {
    margin: 0.625rem 0;
  }

  .main__filter-title {
    font-size: 0.75rem;
    padding: 0.625rem 1.25rem;
  }

  .main__filter-title::before {
    top: 0.625rem;
    left: 4.375rem;
  }

  .main__filter-title::after {
    width: 4.375rem;
    left: 1.0625rem;
  }

  .main__input {
    margin-bottom: 0rem;
  }

  .main__input .input {
    font-size: 0.8125rem;
    border-radius: 0.3125rem;
    min-height: 1.5625rem;
  }

  .main__description {
    font-size: 0.8125rem;
    font-weight: 400;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    color: rgba(234, 234, 234, 0.7215686275);
  }

  .main__select select {
    min-width: 11.875rem;
  }

  .main__button .clear__button {
    font-size: 0.8125rem;
  }

  .main__button .show__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__right-wrapper {
    grid-template-columns: repeat(auto-fill, 15.625rem);
  }

  .main__right-boxes {
    gap: 0.625rem;
  }

  .main__right-box {
    top: -0.75rem;
  }

  .main__right-box.filter__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__right-box.patient__list h2 {
    background-image: none;
    color: #000;
    padding: 0.5rem;
  }

  .main__right-title {
    font-size: 0.5rem;
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    letter-spacing: 0.0625rem;
    position: relative;
  }

  .btn-toggle__title {
    font-size: 0.8125rem;
  }

  .toggle-btn {
    padding: 0.375rem;
    font-size: 0.75rem;
  }

  .patient {
    margin: 0;
  }

  .patient__header {
    font-size: 0.5rem;
  }

  .patient__status {
    margin-left: 0.625rem;
    font-size: 0.5625rem;
    padding: 0.1875rem;
  }

  .patient__content {
    padding: 0.9375rem 0.625rem;
  }

  .patient__content h3 {
    font-size: 0.6875rem;
    margin-bottom: 0.625rem;
  }

  .patient__content span {
    font-weight: 500;
  }

  .patient__content-urgency .btn-low {
    -webkit-animation: glowing-sm-green 3000ms infinite;
            animation: glowing-sm-green 3000ms infinite;
    right: 4.875rem;
  }

  .patient__content-urgency .btn-normal {
    -webkit-animation: glowing-sm-yellow 3000ms infinite;
            animation: glowing-sm-yellow 3000ms infinite;
    right: 3.75rem;
  }

  .patient__content-urgency .btn-high {
    -webkit-animation: glowing-sm-red 3000ms infinite;
            animation: glowing-sm-red 3000ms infinite;
    right: 3.75rem;
  }

  .patient__content-button {
    font-size: 0.6875rem;
  }

  .form {
    min-width: 18.75rem;
  }

  .form__content {
    font-size: 0.9375rem;
  }

  .form__content-button span {
    font-size: 0.75rem;
  }

  .form__content-button.cancel span {
    padding: 0.625rem 0.375rem;
  }

  .form__header::after {
    top: 1.3125rem;
    left: 1.875rem;
  }

  .form__header-title {
    font-size: 1rem;
  }

  .logOut {
    top: 3.125rem;
    right: 0.3125rem;
  }

  .logOut__text {
    font-size: 0.5625rem;
  }
}

@media (max-width: 680px) {
  .login__form-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .login__form-img img {
    max-width: 19.375rem;
  }

  .login__form-img img {
    max-width: 16.875rem;
  }
}